<div class="footer">
  <div class="farmy">
    <h2>Farmy</h2>
    <span><em>Simple Farmydable!</em></span>
  </div>
 <div id="row-1">
    <ul>
      <li><a href="#">Careers</a></li>
      <li><a href="#">How it works</li>
      <li><a href="#">Affiliates Program</li>
    </ul>
  </div>

 <div id="row-2">
  <ul>
    <li><a href="#">Our ethics policy</li>
    <li><a href="#">Mission Statement</li>
    <li><a href="#">Investor Relations</li>
  </ul>
 </div>

 <div id="row-3">
    <ul class="list-inline">
      <li><i class="fab fa-instagram"></i></li>
      <li><i class="fab fa-facebook"></i></li>
      <li><i class="fab fa-youtube"></i></li>
      <li><i class="fab fa-pinterest"></i></li>
      <li><i class="fab fa-linkedin"></i></li>
    </ul>
</div>

