<div id="navigation" class="navbar-wagon stick">
  <div class="container">
    <div class="row">
      <!-- left nav -->
      <div class="subnav">
        <div class="col-xs-12 col-md-8">
          <div class="left-nav">
            <div class="pullDown"><%= link_to "Pictures", new_machine_path, class: "navbar-wagon-item navbar-wagon-link active" %></div>
            <div class="pullDown"><%= link_to "Description", "#", class: "navbar-wagon-item navbar-wagon-link" %></div>
            <div class="pullDown"><%= link_to "Reviews", new_machine_path, class: "navbar-wagon-item navbar-wagon-link active" %></div>
            <div class="pullDown"><%= link_to "Location", "#", class: "navbar-wagon-item navbar-wagon-link" %></div>
          </div>
        </div>
        <!-- Right Navigation -->
        <div class="col-xs-12 col-md-4">
          <div class="right text-center">
            <a href="#" class="btn btn-primary btn-product">Rent me</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

