<div id="navigation" class="navbar-wagon stick">
  <!-- left nav -->
  <div class="container">
    <div class="row">
      <div class="left-nav">
        <div class="pullDown"><%= link_to "Pictures", new_machine_path, class: "navbar-wagon-item navbar-wagon-link active" %></div>
        <div class="pullDown"><%= link_to "Description", "#", class: "navbar-wagon-item navbar-wagon-link" %></div>
        <div class="pullDown"><%= link_to "Reviews", new_machine_path, class: "navbar-wagon-item navbar-wagon-link active" %></div>
        <div class="pullDown"><%= link_to "Location", "#", class: "navbar-wagon-item navbar-wagon-link" %></div>
      </div>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm pullDown">
        <button class="btn btn-primary">Rent me</button>
      </div>
    </div>
  </div>
</div>

