.card {
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 90%;
}
.card-description {
  display: flex;
  position: absolute;
  align-items: baseline;
  bottom: 10px;
  left: 10px;
}
.card-category h2 {
  font-size: 24px;
  padding: 0;
  margin-right: 10px;
  margin-top: 10px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  margin: 0;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.full-card {
  box-shadow: 0px 1px 7px #d4d0d0;
  border-radius: 1px;
  margin: 10px;
  &:hover {
    box-shadow: 0 2px 22px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.2);
  }
}
.card-infos {
  display: flex;
  align-items: baseline;
  position: relative;
  color: $brown;
  height: 100px;
  padding: 15px;
  margin-left: 10px;
}
card {
  color: $brown;
  background: transparent;
  position: relative;
  padding: 0;
  z-index: 0;
  &:before {
    height: 15px;
    left: 0px;
    right: 0px;
    background-color: $green;
    content: " ";
    position: absolute;
    z-index: -2;
    bottom: 0;
  }
}
.machine-type {
  display: flex;
  align-items: baseline;
}
.price {
  position: relative;
  top: 10px;
  right: 10px;
  &:after {
    content: '/hour';
    font-size: 10px;
    position: absolute;
    top: 18px;
  }
}
