.footer{
  display:flex;
  flex-direction: row;
  height: 20vh;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background: linear-gradient(to left, $green, $purple);
  h2 {
    padding: 0 20px;
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.footer #row-1, .footer #row-2, .footer #row3, ul{
  list-style: none;

}

a{
text-transform: capitalize;
text-decoration: none;
color: rgba(250,250,250,1);
margin: 0;

 &:hover{
   text-decoration: none;
   color: rgba(255,255,255,1);
 }
}

ul{
  padding-left:0;
}

i{
  color:white;
  font-size: 25px;
}

@media only screen and (max-width: 700px) {
  .footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:40vh;
    padding-top:20px;
  }

  .farmy{
    display:none;
  }
}

.footer #row-1, .footer #row-2, .footer #row3, i {

 &:hover{
   text-decoration: none;
   color: white;
 }
}
.farmy {
  display:flex;
  align-items: center;
}
.img-footer {
  position: absolute;
  top: -50px;
  left: 0px;
  animation: tractomoov 12s infinite;
}

@keyframes tractomoov {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(2500%);
    }
}
