/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  // padding: 0 24px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 3;
  width: 100%;
  transition: 0.5s display ease;
  a {
    text-decoration: none;
    padding: 26px;
    position: relative;
    top: -2px;
    z-index: 0;
    cursor: pointer;
    &:focus {
      color:$brown;
    }
  }
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding-right: 40px;
}

/* Navbar link */
.navbar-wagon-link {
  color: $brown;
  font-size: 16px;
}
.navbar-wagon-link:hover {
  color: black;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

input#search {
  height: 70px;
  border: none;
  padding: 10px 10px 10px 10px;
  outline: none;
  font-size: 16px;
  color: $gray;
  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
  &:hover::-webkit-input-placeholder {
    color: #4a4a4a;
    transition: .2s ease;
  }
  &:focus::-webkit-input-placeholder {
    color: #4a4a4a;
    transition: .2s ease;
  }
}

#search-form {
  flex-grow: 1;
  margin-right: 24px;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #e7e7e7;
  padding: 0 0 0 34px;
}

.pullDown a:before{
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  top: 0px;
  content: '';
  background: $green;
  opacity: 0;
  transition: all 0.4s;
}

.pullDown {
  a:after {
    position: absolute;
    width: 0px;
    height: 5px;
    right: 0px;
    bottom: 0px;
    content: '';
    background: $green;
    opacity: 0;
    transition: all 0.4s;
  }
  a:hover:before{
    height: 100%;
    opacity: 0.2;
  }
  a:hover:after{
    width: 100%;
    opacity: 1;
  }
}

.active {
  color: $green;
  &:hover {
    color: $green;
  }
}
#headnav {
  .logo {
    width: 90px;
  }
}
