<div class="container-index">
  <div class="row">
    <div class="col-xs-7" style="margin-bottom: 2em;">
      <div class="filter" style="display: flex; justify-content: space-around;">
        <div class="dropdown">
          <a id="btn-filter" class="btn btn-primary btn-product dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter by
          </a>

          <div class="dropdown-menu filter-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Price (Asc)</a>
            <a class="dropdown-item" href="#">Price (Des)</a>
            <a class="dropdown-item" href="#">Date</a>
          </div>
        </div>
        <div class="dropdown">
          <a id="btn-filter" class="btn btn-primary btn-product dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Type
          </a>

          <div class="dropdown-menu filter-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/machines?utf8=✓&search=tractor">Tractor</a>
            <a class="dropdown-item" href="/machines?utf8=✓&search=planter">Planter</a>
            <a class="dropdown-item" href="/machines?utf8=✓&search=fodder">Fodder</a>
          </div>
        </div>
      </div>
      <div id="search-box">
        <!-- SearchBox widget will appear here -->
      </div>
      <div id="hits">
        <!-- Hits widget will appear here -->
      </div>
      <nav aria-label="Page navigation example" style="text-align: center;">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <!-- <span aria-hidden="true">&laquo;</span> -->
              <!-- <span class="sr-only">Previous</span> -->
            </a>
          </li>
          <li class="page-item"><a class="page-link active" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-xs-5" style="position: sticky; top: 70px;">
      <div class="map-sticky">
        <div class="gmap">
          <div
              id="map"
              style="width: 100%;
              height: calc(100vh - 70px);"
              data-markers="<%= @markers.to_json %>"
            ></div>
        </div>
      </div>
  </div>
</div>
